<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Fake Product Classifier</title>
        <!-- Correctly link the CSS file from static -->
         <link rel="stylesheet" href="/static/style.css">
    </head>
<body>
    <h1>Upload an image to classify as Real or Fake Product</h1>
    <form action="/predict" method="POST" enctype="multipart/form-data">
        <input type="file" name="file" required><br><br>
        <button type="submit">Upload and Predict</button>
    </form>
</body>
</html>
